body {

    font-family: cursive;

    /*Padriniza uma fonte*/

    line-height: 1.6;

    /*Altura da linha*/

    background-color: rgb(185, 185, 181);

}




.container {

    margin: 0 auto;

    /*define o tamanho da margin*/

    width: 960px;

    /*Largura do container*/

}




.container h1 {

    text-align: center;

    /*Centraliza um texto*/

}





.lugar {

    border: 5px solid;

    /*Adiciona a borda e Tamanho*/

    border-color:white;

    /*Mudar as cores das boradas*/

    background-color: rgb(199, 199, 196);

    /*Coloca cor no fundo do texto*/

    margin-bottom: 10px;

    /*Cria uma margem onde você escolher Baixo,Cima,Direita ou Esquerda da tabela */

    padding: 10px;

    /*Adiciona espaço para todos os lados dentro da borda*/

    width: 800px;

    float: left;

}




.lugar h2 {

    border-bottom: 1px dashed #000;

    /*Coloca uma linha em baixo do titulo h2*/

    margin: 0;

}




h1 {

    color: #575454;

}




h2 {

    color: #575454;

}




.lugar img {

    border: 1px solid #000;

    float: left;

    /*Alinhamento da foto*/

    margin: 10px 10px 0 0;

    padding: 2px;

    height: 100px;

    /*DDefine o tamanho da imagem*/

}




.rodape {
    font-family: cursive;
    font-size: 30px;

    text-align: center;

}




.lateral {

    border: 5px solid white;

    background-color:rgb(199, 199, 196);

    padding: 50px;

    float: right;

    width: 250px;

    position:absolute;

    top: 2;

    transform:translate(240%);


}




.lateral h3 {

    font-size: 30px;

    margin-top: 0;

}




.lateral ol {

    font-size: 20px;

}

.clear{

    clear:both;
}